<h2>Title: <%= @book.title %></h2>
<h3>Author: <%= @book.author %></h3>
<h3>Page Count: <%= @book.page_count %></h3>
<h3>Plot: <%= @book.plot %></h3>
<h3>Genre: <%= @book.genre %></h3><br><br><br>


<form action="/books/<%= @book.slug %>/edit">
    <button type="submit">Edit Book</button>
</form>
<form method="POST" action="/books/<%= @book.slug %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete Book</button>
</form><br><br><br>
<h2>Reviews:</h2>
<form action="/reviews/new">
    <button type="sumbit">Write A Review</button>
</form>