<h2>Title: <%= @book.title %></h2>
<h3>Author: <%= @book.author %></h3>
<h3>Page Count: <%= @book.page_count %></h3>
<h3>Plot: <%= @book.plot %></h3>
<h3>Genre: <%= @book.genre %></h3><br><br><br>


<form action="/books/<%= @book.slug %>/edit">
    <button type="submit">Edit Book</button>
</form>
<form method="POST" action="/books/<%= @book.slug %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete Book</button>
</form><br><br><br>

<h2>Reviews:</h2>
<% @book.reviews.each do |review| %>
    <h4><%= review.content %></h4>
    <% member = Member.find_by(review.member_id) %>
    <h6>Written at: <%= review.updated_at %> by <%= member.email %></h6>
<% end %><br><br>
<form action="/reviews" method="POST">
    <textarea rows="4" cols="50" name="content" placeholder="What did you think?"></textarea><br><br>
    <input type="submit" value="Submit">
</form>