<h2>Title: <%= @book.title %></h2>
<h3>Author: <%= @book.author %></h3>
<h3>Page Count: <%= @book.page_count %></h3>
<h3>Plot: <%= @book.plot %></h3>
<h3>Genre: <%= @book.genre %></h3><br><br><br>

<% if @book.member_id == current_member.id %>
    <form action="/books/<%= @book.slug %>/edit">
        <button type="submit" class="btn btn-outline-primary">Edit Book</button>
    </form><br>
    <form method="POST" action="/books/<%= @book.slug %>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-outline-primary">Delete Book</button>
    </form><br><br><br>
<% end %>

<h2>Reviews:</h2>
<% @book.reviews.each do |review| %>
    <h4><%= review.content %></h4>
    <% @member = Member.find_by(id: review.member_id) %>
    <h6>Written at: <%= review.updated_at.strftime("%m/%d/%Y") %> by <%= @member.email %></h6>
    <div class="inline">
        <% if @member.id == current_member.id %>
            <form action="/reviews/<%= review.id %>/edit">
                <button type="submit" class="btn btn-outline-primary btn-sm">Edit Review</button>
            </form>
            <form method="POST" action="/reviews/<%= review.id %>/delete">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-outline-primary btn-sm" id="delete">Delete Review</button>
            </form><br><br>
        <% end %>
    </div><br><br>
<% end %><br>
<form action="/books/<%= @book.slug %>" method="POST">
    <textarea rows="4" cols="50" name="content" placeholder="What did you think?"></textarea><br><br>
    <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm">
</form>